doctype html
html
	include ./includes/head.jade
	link(rel="stylesheet" href="./../css/design.css")
	script(src="./../js/design.js" defer)
	
	body(class="bg_design")
		.container
			include ./includes/header.jade
			include ./includes/nav.jade	
			
			main(class="main")
				.fig_design
					include ./../img/design.svg
					h2 Дизайн
				.text
					p Работа над коммерческим дизайном начинается с Цели. Донести, объяснить, остановить, заинтересовать… Множество целей ставят заказчики перед дизайнером. Но в своей основе дизайн всегда несет одну главную цель – продать товар или услугу заказчика.
					p Наша студия оказывает такие услуги, как полиграфический дизайн, web-дизайн, промышленный и интерьерный дизайн для выставочных стендов и шоурумов. В своей работе мы профессионально используем стандартные инструменты для работы дизайнера и дополняем их нестандартным мышлением.
					p Разработка дизайна web-сайта – базовый процесс, от которого будет зависеть привлекательность сайта, доступность и удобство посетителя как потенциального клиента вашей фирмы.
					p Для связи с дизайнером в процессе выполнения проекта с вами будет работать наш менеджер. Зачастую процесс усложняется различными вкусовыми предпочтениями участников процесса и сопровождается дискуссиями. Мы прикладываем максимум усилий для выполнения всех требований, чтобы облегчить принятие решений заказчиком. Квалификация и опыт наших сотрудников позволяют нам уверенно продвигать свои идеи, видение и решения для реализации задуманной цели.
					p Мы выполняем комплексные задачи по дизайну. Разработка логотипа, фирменный стиль, общий имидж для мероприятий, выставок, проведение акций, праздников и презентаций.
					p Стоимость дизайна складывается из различных составляющих.
					p(style="text-align: left;") Технические и стандартные задачи, такие, как дизайн визитки или верстка каталога, могут иметь фиксированную оплату за штуку, страницу или час времени. Почасовая оплата дизайнера иногда необходима для более тесной работы непосредственно с заказчиком и применяется в случаях, когда нужны срочные корректировки макета или поиск взаимопонимания в некоторых сложных моментах. Это наиболее дорогой способ оплаты разработки дизайна. В нашей компании тариф начинается от 300 грн в час.
					p Намного сложнее оценивать творческую работу. Дизайнер – это тот, кто сочетает навыки и талант художника и креативщика. Но чаще всего, для продуктивной работы дизайн создает команда, состоящая из автора идей и их иллюстратора. Мы предлагаем Вам для сотрудничества нашу творческую команду. Полностью гарантируем профессиональную работу в доверенных нам задачах. В разделе “Портфолио” вы можете увидеть примеры наших работ.
					p Обращайтесь к профессионалам!
					h3 А теперь немного СЕО:
					p Дизайн в Киеве смог заказать разработку дизайна сайта недорого по цене доступной в Украине любому дизайну. Дизайн профессионально сотрудничал по созданию дизайна в web-студии быстро, качественно с выездом к заказчику.

			include ./includes/aside.jade
			include ./includes/footer.jade
