@import "includes/settings";

.bg_main_menu
{
	background: linear-gradient( $animAngel, #CA3C8E, #004B9A);
}

.bg_design_menu
{
	background: linear-gradient( $animAngel, #f0c833, #cd591e);
}

.bg_develop_menu
{
	background: linear-gradient( $animAngel, #e2ab35, #519f48);
}

.bg_tech_menu
{
	background: linear-gradient( $animAngel, #797ab6, #3e84bb);
}

.bg_seo_menu
{
	background: linear-gradient( $animAngel, #73bded, #294c97);
}

.bg_support_menu
{
	background: linear-gradient( $animAngel, #787ab6, #3e84bb);
}

.bg_project_menu
{
	background: linear-gradient( $animAngel, #f0c833, #cd591e);
}

.bg_contacts_menu
{
	background: linear-gradient( $animAngel, #f0c833, #cd591e);
}

// Styling Header
.wrap_link
{
	padding: 0 20px;
}



.text_prof img
{
	width: 300px; height: 40px;
}
// END Styling Header

// Style NAV
.nav
{
	position: relative;

	flex-basis: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mob_menu
{
	width: 100px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 5px 0 10px;

	cursor: pointer;
}

.fa-bars
{
	width: 100%;
	display: inline-block;
	padding: 5px;
}

.nav_menu
{
	position: absolute;
	top: 50px;

	width: 300px;

	display: none;
	flex-wrap: wrap;

	border: 1px solid $color;
	border-radius: 5px;
}

.visible_menu
{
	display: flex;
}

.nav li
{
	z-index:1;
	padding: 7.5px 15px;
}

.nav li:nth-child(1)
{
	padding-top: 20px;
}

.nav li:last-child
{
	padding-bottom: 45px;
}

// Style MAIN
.main
{
	flex-direction: column;
	align-items: center;

	margin-bottom: 25px;
}

// Style ASIDE
.aside
{
	width: 100%;

	align-items: flex-end;
}

.width
{
	width: 75px;
}

.wr_icons
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
// Style FOOTER
.footer
{
	background-color: #000000;
	padding: 25px 0;
}
