@import "includes/settings";

// Styling Header
.empty,
.text_prof
{
	display: none;
}
// END Styling Header

// Style NAV

// Style MAIN
//.opacity_zero
//{
//	opacity: 0;
//}

.main p
{
	width: 100%;
}

.fig_design,
.fig_seo,
.fig_tech,
.fig_support
{
	width: 250px;
}

// Style ASIDE
.aside
{
	display: none;
}

// Style FOOTER
