@import "includes/settings";

// Styling Header
.empty,
.text_prof
{
	display: none;
}

.logo
{
	width: 117.3px; hieght: 51.5px;

}
// END Styling Header

// Style NAV
.nav
{
	position: relative;
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
//	align-content: center;
	justify-content: center;
	align-items: center;
}

.mob_menu
{
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 5px 0 10px;
//	border: 2px solid red;

	cursor: pointer;
}

.fa-bars
{
	width: 100%;
	display: inline-block;
	padding: 5px;

//	border: 2px solid blue;
}

.nav_menu
{
	width: 300px;
	display: none;
	flex-wrap: wrap;
	flex-direction: column;
	border: 1px solid $color;
	border-radius: 5px;
	position: absolute;
	top: 50px;
}

.visible_menu
{
	display: flex;
}

.nav li
{

	z-index:1;
	padding: 7.5px 15px;
}

.nav li:nth-child(1)
{
	padding-top: 20px;
}

.nav li:last-child
{
	padding-bottom: 45px;
}

.nav a
{
	font-size: 21.2px;

}

.nav a:visited
{
	opacity: 0.53;
}

.nav a:hover
{
	opacity: 0.53;
	cursor: pointer;
}

.selected
{
	opacity: 0.53;	
}



// Style MAIN
.main
{
	flex: 2;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

	margin-bottom: 25px;
}


.opacity_zero
{
	opacity: 0;
}

.main p
{
	width: 100%;

	font-size: $fontSize;

	line-height: 21.6px;
	color: #ffffff;
	padding: 10px;
}

.fig_develop + p
{
	padding: auto 0;
}

.main figure
{
	flex: 1;

}

.main figcaption,
.main h2
{
	display: block;
	color: #ffffff;
	font-size: $sizeCaption;
	text-align: right;
}

.fig_design,
.fig_seo,
.fig_tech,
.fig_support
{
	width: 250px;
	display: flex;
	flex-direction: column
}

.fig_design svg,
.fig_seo svg,
.fig_tech svg,
.fig_support svg
{
	max-width: 100%;
	height: auto;
}

//.fig_seo svg,
//.fig_tech img,
//.design_svg,
.fig_develop img,
//.fig_support img
{
	max-width: 100%;

}

.fig_tech figcaption,
.fig_design h2,
.fig_develop figcaption,
//.fig_seo figcaption
{
	text-align: center;
}

// Style ASIDE
.aside
{
	display: none;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-end;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

.width
{
	width: 75px;
}

.aside
{
	padding: 10px;
}

.aside img:nth-child(1)
{
	padding-top: 4px;
}

// Style FOOTER
.footer
{
	flex-basis: 100%;
	background-color: #000000;
	padding: 25px 0;
}

.footer ul
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer li
{
	font-size: 14.97px;
	color: #ffffff;
	padding: 0 2px;
}

