@import "includes/settings";

// Styling Header
.wrap_link
{
	justify-content: center;
}

.empty,
.text_prof
{
	display: none;
}
// END Styling Header

// Style NAV

// Style MAIN

.main p
{
	width: 100%;
}

.fig_design,
.fig_seo,
.fig_tech,
.fig_support
{
	width: 250px;
}

// Style ASIDE
.aside
{
	display: none;
}

// Style FOOTER
